# https://EditorConfig.org
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

# https://standardjs.com/rules.html
[*.js]
indent_style = space
indent_size = 2

# https://www.python.org/dev/peps/pep-0008/#indentation
[*.{py, pyi}]
indent_style = space
indent_size = 4

# https://github.com/DavidAnson/markdownlint
[*.{markdown, md}]
indent_style = space
indent_size = 4
trim_trailing_whitespace = false

# https://www.gnu.org/software/make/manual/html_node/Rule-Syntax.html
[{GNUmakefile, makefile, Makefile}]
indent_style = tab

[*.{json, y{a,}ml, html}]
indent_style = space
indent_size = 2