# root
var
.local/share

# secrets
.config/gh/hosts.yml

# caches
.netrc
.cache
.vscode
.vscode-server
.wrangler
.config/micro/buffers/history
.config/zsh/.zshrc.zwc
.config/configstore
.config/nextjs-nodejs
.config/shopify
