# root
var
.local/share/**

# https://stackoverflow.com/questions/5533050/gitignore-exclude-folder-but-include-specific-subfolder
!.local/share/gnupg/
!.local/share/gnupg/gpg-agent.conf

# secrets
.config/gh/hosts.yml
.config/instaloader
.ngrok2

# caches
.netrc
.cache
.vscode-server
.wrangler
.config/micro
.config/zsh/.zshrc.zwc
.config/configstore
.config/nextjs-nodejs
.config/shopify
